.place__image {
    width: 460px;
    height: 460px;
    margin: 60px 40px 0 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .place__image {
        margin: 40px 32px 0 0;
        width: 43vw;
        height: 43vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .place__image {
        margin: 32px 28px 0 0;
        width: 44vw;
        height: 44vw;
    }
}

@media (max-width: 425px) {
    .place__image {
        margin: 32px -4vw 0 -4vw;
        width: 100vw;
        height: 100vw;
    }
}
