.cover__subtitle {
    max-width: 382px;
    margin: auto;
    margin-top: 134px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: white;
    z-index: 3;
}

.cover__subtitle:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .cover__subtitle {
      margin: 5.8vw 25vw 0 25vw;
      font-size: 14px;
      line-height: 17px;
    }
  
  }

  @media (max-width: 425px) {
    .cover__subtitle {
      margin: 4vw 0 0 0;
    }
  }