.cover__subtitle {
    position: absolute;
    bottom: 48px;
    left: 33%;
    right: 33%;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: white;
    z-index: 1;
    margin: 0;
}

.cover__subtitle:hover {
    opacity: 0.7;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cover__subtitle {
        bottom: 3vw;
        left: 29%;
        right: 29%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover__subtitle {
        bottom: 3vw;
        left: 8.5vw;
        right: 8.5vw;
    }
}

@media (max-width: 425px) {
    .cover__subtitle {
        bottom: 3vw;
        font-size: 4.3vw;
        left: 8.5vw;
        right: 8.5vw;
        line-height: 5.3vw;
    }
}
