.video__title {
    font-size: 36px;
    line-height: 39px;
    font-weight: 900;
    margin: 0 0 1vw 0;
    padding: 0;
}

.video__title:hover {
    opacity: 0.7;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .video__title {
        font-size: 3.7vw;
        line-height: 3.8vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .video__title {
        font-size: 3vw;
        line-height: 3.3vw;
    }
}

@media (max-width: 425px) {
    .video__title {
        font-size: 5.6vw;
        line-height: 6.1vw;
    }
}
