@import url('./__title/intro__title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__content-row/intro__content-row.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 984px;
    margin: 0 auto;
}

.span {
    font-weight: bold;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .intro {
        margin: 0 5vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .intro {
        margin: 0 3vw;
    }
}

@media (max-width: 425px){
    .intro {
       margin: 0 4vw;
    }
}