@import url('./_mask/cover__image_mask.css');
@import url('./_darkening/cover__image_darkening.css');

.cover__image {
    max-width: 100%;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cover__image {
        max-width: 100%
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover__image {
        max-width: 100%
    }
}

@media (max-width: 425px) {
    .cover__image {
        max-width: 100%
    }
}
