@import url('../vendor/normalize.css');
/*@import url('//rsms.me/inter/inter.css');*/
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/lead/lead.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/places/places.css');
@import url('../blocks/video/video.css');
@import url('../blocks/content-subtitle/content-subtitle.css');
@import url('../blocks/content-title/content-title.css');
@import url('../blocks/additional/additional.css');
@import url('../blocks/comments/comments.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/emblem/emblem.css');
@import url('../blocks/barentsburg/barentsburg.css');
@import url('../blocks/footer/footer.css');

@font-face {
    src: url('../fonts/Inter-Black.otf') format('otf'),
        url('../fonts/Inter-Black.ttf') format('ttf'),
        url('../fonts/Inter-Black.woff') format('woff'),
        url('../fonts/Inter-Black.woff2') format('woff2');
        font-family: 'Inter';
        font-weight: bold;
}

@font-face {
    src: url('../fonts/Inter-Regular.otf') format('otf'),
        url('../fonts/Inter-Regular.ttf') format('ttf'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.woff2') format('woff2');
        font-family: 'Inter';
        font-weight: normal;
}