.cover__title {
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    font-weight: 800;
    z-index: 3;
    position: relative;
    color: white;
  }

.cover__link {
  text-decoration: none;
}
  @media (max-width: 767px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
    }
  }