@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__useful/footer__useful.css');

.footer {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer {
        margin: 0 5vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .footer {
        margin: 0 3vw;
    }
}

@media (max-width: 425px) {
    .footer {
        margin: 0 4vw;
        flex-direction: column;
    }
}
