.place__url-heading {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    align-self: baseline;
    color: #AAAAAA;
}

@media (max-width: 425px){
    .place__url-heading {
        display: none;
    }
}