.place__url {
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__url:hover {
    opacity: 0.7;
}

@media (max-width: 425px){
    .place__url {
        display: none;
    }
}