.cover__image_darkening {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 594px;
    background: #000000;
    opacity: 0;
    transition: opacity 0.2s linear;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cover__image_darkening {
        height: 50.2vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover__image_darkening {
        height: 50.2vw;
    }
}

@media (max-width: 425px) {
    .cover__image_darkening {
        height: 50.2vw;
    }
}
